$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
  margin: 5em 0;
  padding: 0 1em;
  h1 {
    text-align: center;
    font-size: 7vw;
    @media screen and (min-width: 540px) {
      font-size: 2.6rem;
    }
    font-weight: 600;
    color: $dark-blue;
    span {
      font-weight: 200;
    }
  }
  p {
    margin: 2em auto 5em;
    text-align: center;
    color: $grayish-blue;
    max-width: 35em;
  }
}

.card-wrapper {
  display: grid;
  place-items: center;
  @media screen and (min-width: 850px) {
    grid-template-columns: 1fr 1fr;
  }
  gap: 2em;
  .card {
    padding: 2.5em;
    width: 100%;
    max-width: 25em;
    border-radius: 0.5em;
    border-top: 5px solid transparent;
    box-shadow: 0 0 30px -7px $grayish-blue;
    &:first-child {
      border-color: $cyan;
      @media screen and (min-width: 1300px) {
        transform: translateY(50%);
      }
    }
    &:nth-child(2) {
      border-color: $red;
    }
    &:nth-child(3) {
      border-color: $orange;
      @media screen and (min-width: 1300px) {
        grid-column: 2 / 3;
      }
    }
    &:last-child {
      border-color: $blue;
      @media screen and (min-width: 1300px) {
        transform: translateY(50%);
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
    }
    h3 {
      font-size: 1.4rem;
      color: $dark-blue;
    }
    p {
      margin: 1em 0 2.5em;
      line-height: 160%;
      text-align: left;
    }
    img {
      float: right;
    }
  }
}
